.mdc-floating-label {
    width: 180px;
}

.mdc-floating-label--float-above {
    width: auto;


input:-webkit-autofill + .mdc-floating-label {
    -webkit-transform: translate3d(5px, -52%, 0);
    transform: translate3d(5px, -52%, 0);
}

